[submodule "lib/MathMLQueryGenerator"]
	path = lib/MathMLQueryGenerator
	url = https://github.com/physikerwelt/MathMLQueryGenerator.git
[submodule "lib/MathMLCan"]
	path = lib/MathMLCan
	url = https://github.com/jimmyli97/MathMLCan.git
[submodule "lib/incubator-flink"]
	path = lib/incubator-flink
	url = https://github.com/physikerwelt/incubator-flink.git