[submodule "lib/MathMLQueryGenerator"]
	path = lib/MathMLQueryGenerator
	url = https://github.com/physikerwelt/MathMLQueryGenerator.git
[submodule "lib/MathMLCan"]
	path = lib/MathMLCan
	url = https://github.com/TU-Berlin/MathMLCan.git
[submodule "lib/RTED"]
	path = lib/RTED
	url = https://github.com/TU-Berlin/RTED.git
[submodule "lib/WikidataIdListGenerator"]
	path = lib/WikidataIdListGenerator
	url = https://github.com/physikerwelt/WikidataListGenerator.git
[submodule "lib/JFastEMD"]
	path = lib/JFastEMD
	url = https://github.com/telmomenezes/JFastEMD
