target
.idea/workspace.xml
.idea/tasks.xml
src/test/resources/test100.xml
src/test/resources/test1000.xml
src/test/resources/test10000.xml
src/test/resources/WikiData/augmentedWikiDump.xml
*.swp
.idea/libraries
.idea/dictionaries/Moritz.xml
mathosphere/src/test/resources/testpassword
.idea/dataSources.ids
.idea/dataSources.xml