<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="system-console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%highlight{[%-5level]}{FATAL=bg_red Bright white, ERROR=bright red, WARN=Bright yellow, INFO=Bright blue, DEBUG=green, TRACE=cyan} %d{HH:mm:ss.SSS} %highlight{[%t] %c{1}:%line}{FATAL=magenta, ERROR=magenta, WARN=magenta, INFO=magenta, DEBUG=magenta, TRACE=magenta} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="rolling-file-logger">
            <FileName>logs/pomlp.log</FileName>
            <FilePattern>logs/pomlp-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>[%-5level] %d{yy-MM-dd-HH:mm:ss.SSS} [%logger{-3}:%line | %t] - %msg%n%throwable{full} </Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="32 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
        <RollingFile name="rolling-file-errors">
            <FileName>logs/pomlp-error.log</FileName>
            <FilePattern>logs/pomlp-error-%d{yyyy-MM-dd}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>[%-5level] %d{yy-MM-dd-HH:mm:ss.SSS} [%logger{-1}:%line | %t] - %msg%n%throwable{full} </Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="32 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="system-console" level="ALL"/>
            <AppenderRef ref="rolling-file-logger" level="ALL"/>
            <AppenderRef ref="rolling-file-errors" level="WARN"/>
        </Root>
    </Loggers>
</Configuration>